extends layout 

block main-content 
  h1.page-title Here are the top 15 popular shows: 
  table 
    thead 
      tr 
        th Title
        th Year 
    tbody 
      each show in shows
        tr 
          td 
            - url = `https://imdb.com/title/${show.ids.imdb}`;
            a(href=url) #{show.title}
          td #{show.year}
