@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&display=swap');

/********************************************************************
 * TABLE OF CONTENTS
 * ===================
 * 1. GENERAL STYLES
 * 2. MOVIE STYLES
 * 3. RESULT STYLES
 * 4. MEDIA QUERIES
 * ===================
 ********************************************************************/
 
 /* 1. GENERAL STYLES */
 html {
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--red-500);
  text-align: center;
}
 *, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-size: var(--size-s);
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: var(--size-l);
  padding: 0.5em;
  font-family: 'Great Vibes', cursive;
}
footer {
  margin: 0.5em 0;
}
:root {
  --size-l: 36px;
  --size-m: 24px;
  --size-s: 16px;
  --white: #fff0f3;
  --red-000: #ffccd5;
  --red-100: #ffb3c1;
  --red-200: #ff8fa3;
  --red-300: #ff758f;
  --red-400: #ff4d6d;
  --red-500: #c9184a;
  --red-600: #a4133c;
  --red-700: #800f2f;
  --red-800: #590d22;
}

/* 2. START PAGE STYLES */
#movie-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: max(1vw, 10px);
}
.poster {
  border-radius: 5px;
  width: max(12vw, 140px);
  height: max(18vw, 210px);
  background-color: var(--red-800);
  color: var(--white);
  font-size: var(--size-m);
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
}

label {
  cursor: pointer;
}
input {
  box-sizing: border-box;
  width: max(12vw, 140px);
  background: var(--red-800);
  color: var(--red-500);
  border-image: none;
  border: 1px solid var(--red-800);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: var(--size-s);
  padding: 0.5em 0.8em;
  margin: 0.5em 0;
  text-align: center;
}
input::placeholder {
  color: var(--white);
}
input:focus {
  background-color: initial;
  border: 1px solid var(--red-800);
}
.poster:hover,
.poster:hover ~ input:not(:focus),
.hover-input {
  background-color: var(--red-600);
  border-color: var(--red-600);
}

#plus {
  width: max(4vw, 50px);
  height: max(4vw, 50px);
  position: relative;
}
#plus:before, #plus:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: var(--red-200);
}
#plus:before {
 left: 50%;
 width: 30%;
 margin-left: -15%;
 height: 100%;
}
#plus:after {
 left: 0;
 top: 50%;
 height: 30%;
 margin-top: -15%;
 width: 100%;
}
.rotate {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search-container {
  position: absolute;
  top: 100%;
  background-color: var(--red-800);
  color: var(--white);
  text-decoration: none;
  width: calc(max(12vw, 140px) * 2 + max(6vw, 70px));
}
.search-item {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-align: left;
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
.search-item:hover {
  background-color: var(--red-700);
}
.search-poster {
  height: 60px;
}

/* 3. RESULT STYLES */
#message-container {
  padding: 0.5em;
}
#result-container {
  display: none;
  color: var(--white);
}
.result-item {
  text-align: left;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
.result-item-1 {
  background-color: var(--red-800);
}
.result-item-2 {
  background-color: var(--red-700);
}
.result-poster {
  height: 190px;
}
.result-desciption {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

 /* 4. MEDIA QUERIES */
@media screen and (max-width: 968px) {
  .form-search {
    flex-flow: column;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --size-l: 32px;
    --size-m: 22px;
    --size-s: 14px;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --size-l: 28px;
    --size-m: 16px;
    --size-s: 10px;
  }
}